$light: #fff;
$primary-color:#210606;
$secondary-color: #ffd900;
$black: #222;
$black-light: #514b4b;
$black-lighter: #b5afaf;
$border-color:#eee;
$primary-font: 'Alegreya', serif;
$secondary-font:'Alegreya Sans', sans-serif;
$grey: #fcf9f4;