{{ define "main" }}

{{ $topBook := last 1 (where .Site.RegularPages "Section" "books") }}

<section class="banner-main py-7" id="banner">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-7">
          <div class="main-banner">
            <span class="text-color font-weight-bold"></span>
            <h1 class="mb-3 mt-2">{{ .Site.Params.banner.title }}</h1>
            <p class="mb-4">{{ .Site.Params.description | markdownify }}</p>
            <button class="btn btn-main mt-2" onclick="window.location.href='{{ range $topBook }}{{ .Permalink }}{{ end }}'">Get the latest book <i class="fa-solid fa-angle-right ml-3"></i>
            </button>
          </div>
        </div>
  
        
        <div class="col-5 d-lg-block">
          <div class="main-banner">
            <h3 class="mb-3 mt-2">Latest parts</h3>
            <div class="banner-img">
              <div class="row">
                {{ range sort (last 2 (where .Site.RegularPages "Section" "books")) ".Title" "desc" }}
                <div class="col-6 mb-2 mt-2">
                  <a href="{{ .Permalink }}">
                    <img class="img-fluid" src="{{ .Params.image }}" alt="{{ .Title }}">
                  </a>
                </div>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>

{{ end }}